@tailwind base;
@tailwind components;
@tailwind utilities;

.table.table-small :where(th, td) {
  padding: 0.5rem;
}

/* ::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  border-radius: 10px;
} */

body {
  font-family: "Source Code Pro", monospace;
}
.font-s {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.gradient-bg {
  background: linear-gradient(
    to right,
    rgba(35, 64, 240, 1),
    rgba(20, 37, 138, 1)
  );
}
